includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
        - config
        - database
        - routes
    excludePaths:
        - bootstrap
        - storage
        - vendor
    reportUnmatchedIgnoredErrors: false
